body {
    margin: 0;
    padding: 0 !important;
}

.main {
    width: 100%;
    margin-top: 51px;
    background-image: url("../img/header-bg.jpg");
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    background-repeat: no-repeat;
}


.jumbotron {
    background-color: transparent !important;
    text-align: center;
    letter-spacing: 2px;
    color: white !important;
    text-shadow: 1px 1px 1px black;

    h1 {
        margin-top: 20vh;
    }

    &__button {
        margin-top: 10vh;
        border: none;
        border-radius: 10px;
        background-color: rgba($color: green, $alpha: 0.6);
        padding: 14px 16px;
        transition: 0.3s;
        box-shadow: 1px 1px 1px black;

        &:hover {
            background-color: green;
        }
    }
}

.forgot-link {
    cursor: pointer;
}

.container-notes {
    padding-top: 10vh;
}

.container-buttons {
    margin-bottom: 5vh;
}

.textarea-notes {
    width: 100%;
    max-width: 100%;
    max-height: 50vh;
    padding-top: 10px;
    padding-left: 10px;
    border: 1px solid green;
    transition: border 0.3s ease-in-out;
    color: green;
    font-size: 16px;
    line-height: 1.5em;
    background-color: rgba($color: #000000, $alpha: 0.9);

    &:focus {
        border-left: 10px solid green;
    }

    &::placeholder {
        color: rgb(124, 124, 124);
        text-align: center;
    }
}

.loader {
    border: 4px solid #f3f3f3; /* Light grey */
    border-top: 4px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#all-notes, #done, #notePad, .note-delete {
    display: none;
}

.notes {
    height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
}

.note {
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 10px;
}


// Notes list
.notes-box {
    border: 1px solid #222222;
    border-radius: 5px;
    
    cursor: pointer;
    padding: 5px;
    width: 100%;
    background-color: rgba($color: white, $alpha: 0.7);

    &__header {
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__time {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.dollar, .add-costs-amount {
    display: inline;
}

